@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rye&display=swap');
html {
  scroll-behavior: smooth;
}
body {
    font-family: "Playfair Display", serif;
    background-color: #ae8c6a;
    overflow-x: hidden;
}

.menu-page{
    display: flex;
    align-items: flex-start; /* Keeps sidebar at the top */
    gap: 30px;
    padding: 20px;
}

.menu-sidebar{
    display: flex;
    flex-direction: column; /* This makes them stack vertically (block) */
    width: 200px;
    min-width: 200px;
    gap: 10px;
}
.menu-sidebar h2 {
    font-family: 'Playfair Display', serif;
    color: #f4ece8;
    margin-bottom: 20px;
}

.menu-sidebar button{
    text-align: left;
    padding: 10px;
    background: #333;
    color: white;
    border: 1px solid #444;
    cursor: pointer;
}

.category-link {
    display: block; /* Ensures the <a> tag acts like a block button */
    width: 100%;
    text-decoration: none;
    text-align: left;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.1);
    color: #ddd;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    transition: all 0.2s ease;
}

.category-link:hover, .category-link.active {
    background: #c49b63; /* A nice coffee gold/brown */
    color: #fff;
    border-color: #c49b63;
}

.menu-content{
    flex: 1;
    width: 0;
}

.menu-grid{
    display: grid;
    /* This creates 3 or 4 columns depending on screen width */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    flex-grow: 1;
}

.product-card{
    background: #36130d;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.08);
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Pushes the footer to the bottom */
}

.product-footer {
    margin-top: auto; /* Forces price/button to the bottom */
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-image {
    width: 100%;       /* Spans the full width of the card */
    height: 250px;     /* Force a specific height here */
    overflow: hidden;  /* Prevents any 'leakage' */
    border-radius: 12px 12px 0 0; /* Rounds the top corners only */
}

.product-image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
}