<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Caffein & Chaos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Jost:wght@200;300;400;500;600&display=swap" rel="stylesheet"/>
</head>
<body>

    <nav id="navbar">
    <a href="#" class="nav-logo">
      <div class="nav-logo-icon"><img src="/static/images/Logo2.jpeg" alt="company-logo"></div>
      <div class="nav-logo-text">Caffeine<br><span>& Chaos</span></div>
    </a>
    <ul class="nav-links">
      <li><a href="{{ url_for('main.home') }}">Home</a></li>
      <li><a href="{{ url_for('main.about') }}">About Us</a></li>
      <li><a href="{{ url_for('menu.main_menu') }}">Menu</a></li>
      <li><a href="{{ url_for('products.list_products') }}">Products & Services</a></li>
    </ul>
    <div class="nav-cta">
      <a href="{{ url_for('auth.login') }}" class="btn-ghost">Login</a>
      <a href="{{ url_for('auth.register') }}" class="btn-filled">Sign Up</a>
    </div>
  </nav>


      {% block content %}{% endblock %}
      {% block scripts %}{% endblock %}

  </main>
</body>
</html>
